<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITAS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITAS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ITAS.My.MySettings>
            <setting name="Telescope" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenStartupWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ParentFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastObject" serializeAs="String">
                <value />
            </setting>
            <setting name="TelescopeRA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelescopeDEC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelescopeAZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelescopeALT" serializeAs="String">
                <value>0</value>
            </setting>
        </ITAS.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ITAS.My.MySettings>
            <setting name="LastDomePosition" serializeAs="String">
                <value>0</value>
            </setting>
        </ITAS.My.MySettings>
    </applicationSettings>
</configuration>